<div class="container">
  <div class="page-content sidebar-position-without sidebar-mobile-bottom">
    <div class="row">

      <div class="content col-md-12">

        <div class="infobox">         
          <p><i class="fa fa-info-circle fa-2x"></i>Hieronder vindt je de meest recentste informatie over onze website. Wens je graag nog meer informatie neem dan
            contact op.
          </p>
        </div>

        <h2>Verzending</h2>
        <p>Wij verzenden uitsluitend met bpost. Waarom vraag je je misschien af. Simpel. Hoe meer verzendingen er worden verstuurd
          via één vervoerder hoe meer korting wij kunnen krijgen om jou een lager verzendtarief aan te bieden.<br /> Wij
          werken ondertussen ook al jaren met bpost en hebben nog nooit één pakket verloren zien gaan. Tevens bieden zij
          ook nog extra&#8217;s zoals zaterdag levering of verzenden naar een pakjesautomaat of postpunt.</p>
        <h2>Verzendkosten</h2>
        <p>Verzending naar een huisadres binnen België kost € 4,80 en naar een pakjesautomaat of postpunt kost dit € 3.40. Vanaf
          € 50,- is de verzending gratis.<br /> Verzending naar een huisadres in Nederland kost € 7,90 en is gratis vanaf
          € 75,-.<br /> Verzending naar andere landen is momenteel enkel beschikbaar op aanvraag. Stuur een email naar info@bellasinella.be
          of gebruik ons contact formulier rechts onder op deze pagina.</p>

        <h2>Ruilen</h2>
        <p>Past dat geweldige artikel toch niet of is het toch je smaak niet dan mag je deze binnen de 14 kalenderdagen ruilen.
          Zelfs wanneer het artikel in uitverkoop (sale) is. Deze omruil brengt uiteraard kosten met zich mee, de extra gemaakte
          kosten zijn voor je eigen rekening. D.w.z. de retour kost en de nieuwe verzendkosten. Zijn de verzendkosten hoger
          dan € 50,- (BE) of € 75,- (NL) dan betalen wij uiteraard deze verzendkosten voor jou. Wens je liever extra kosten
          te vermijden laat ons het kledingstuk op meten. Zo ben je zeker dat deze artikel(en) perfect zitten.</p>



        <h2>Terug betalingen</h2>
        <p>Terug betalingen worden binnen de 14 kalenderdagen verwerkt via de betaalmethode waarmee ze was uitgevoerd. Tenzij
          deze cash was betaald. Wij nemen contact met je op om de overschrijving te voltooien. In uitzonderlijke gevallen
          kunnen we je ook terug betalen via een andere betaalmethode.</p>



        <h2>Onze prijzen</h2>
        <p>Wij hanteren de prijzen die wij ontvangen van onze leverancier. Er worden hierbij géén extra kosten toegevoegd.
          <i>Voorbeeld: vele webshops <strong>verhogen</strong> hun prijzen per artikel om &#8220;<strong>gratis</strong>&#8221; verzending aan te bieden. Wanneer wij zeggen dat het </i><strong>gratis</strong><i> is dan is het ook echt </i><strong>gratis</strong><i>.</i>          Je betaald bij ons ook géén transactie kosten. Dit is gelijk ook de reden waarom wij pas vanaf een &#8220;hoger&#8221;
          tarief gratis verzending aanbieden.</p>

      </div>


    </div>
    <!-- end row-fluid -->

  </div>
</div>
<!-- end container -->