<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </button>
            <a [routerLink]="['/welcome']" class="navbar-brand">URSIUS</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li a [routerLink]="['/babykleding']"><a class="">Babykleding</a>

                </li>
                <li><a href="#" class="">Zwangerschapskledij</a>

                </li>
                <li><a href="#" class="">Info</a>

                </li>
                <li *ngIf="!_authenticationService.isAuthenticated"><a [routerLink]="['/login']">Aanmelden</a>

                </li>
                <li *ngIf="!_authenticationService.isAuthenticated"><a [routerLink]="['/register']">Registreren</a>
                    
                </li>
                <li class="list-item-welkom" *ngIf="_authenticationService.isAuthenticated"><a>Welkom {{_authenticationService.username}}</a>
                  
                </li>
                <li class="list-item-logout" *ngIf="_authenticationService.isAuthenticated"><button class="btn-logout" (click)="_authenticationService.logOut()">Uitloggen</button> 
                  
              </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="main-footer">
        <!-- Service Block-->
        <div class="services-block">
          <div class="container">
            <div class="row">
              <div class="col-md-4" align="center">
                  <div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>                 
                  <h6 class="no-margin text-uppercase">Gratis verzending &amp; terugzending</h6><span>Gratis verzending vanaf 300 euro</span>
              </div>
              <div class="col-md-4" align="center">
                  <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                <h6 class="no-margin text-uppercase">Geld terug garantie</h6><span>30 Dagen geld terug garantie</span>
              </div>
              <div class="col-md-4" align="center">
                  <div class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                  <h6 class="no-margin text-uppercase">020-800-456-747</h6><span>24/7 Ondersteuning</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Main Block -->
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-md-4" align="center">
                <p>&copy; 2017 Ursius All rights reserved.</p>
              </div>
              <div class="col-md-4">
                    
              </div>
              <div class="col-md-4" align="center">
                <ul class="list-inline">
                  <li><i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i></li>
                  <li><i class="fa fa-cc-mastercard fa-3x" aria-hidden="true"></i></li>
                  <li><i class="fa fa-cc-paypal fa-3x" aria-hidden="true"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
</footer>