<div class="container">
    <div class="col-md-4">
      <h3>WELKOM</h3><br>
      <p>Ursius is een online shop met originele babykleding. 
        We verkopen ook zwangershapskledij en speciale kledij voor borstvoeding.</p><br>
        <ul>
          <li>
              Gratis verzending
          </li><br>
          <li>
              Hippe &amp; betaalbare kleding            
          </li><br>
          <li>
              Mooi verpakt
          </li><br>
          <li>
              Voor 16u besteld = morgen in huis
          </li><br>
        </ul>      
    </div>
    <div class="hidden-xs col-md-8">
      <img src='/assets/baby-welcome.jpg' alt='baby-welcome.jpg'>
    </div>
</div>