<div class="container">
    <div class="col-lg-4">
      <h3>WELKOM</h3><br>
      <p>Ursius is een online shop met originele babykleding. 
        We verkopen ook zwangerschapskledij voor de mama.</p><br>
        <ul>
          <li>
              Gratis verzending vanaf 300 euro
          </li><br>
          <li>
              Hippe &amp; betaalbare kleding            
          </li><br>
          <li>
              Mooi verpakt
          </li><br>
          <li>
              Voor 16u besteld = morgen in huis
          </li><br>
        </ul>
        <p>Gelieve je te registreren om op de hoogte te blijven van de nieuwste ontwikkelingen en aanbiedingen.
            </p>      
    </div>
    <div class="hidden-xs col-lg-8">
      <img src='/assets/baby-welcome.jpg' alt='baby-welcome.jpg'>
    </div>
</div>